#bg-slide-pic-change .tp-bgimg{background-image:url(../../images/main-slider/slider1/slide1-6.jpg) !important; background-color:#dc0fc1 !important}

#bg-slide-pic-change .tp-kbimg{display:none;}
/*===================== 
	Premery bg color 
=====================*/

::selection {
	background: #dc0fc1;
}

::-moz-selection {
	background: #dc0fc1;
}

::-webkit-selection {
	background: #dc0fc1;
}


/* Primary background color*/

.left .wt-small-separator div.sep-leaf-right::before,
.left .wt-small-separator div.sep-leaf-left::before,
.center .wt-small-separator div.sep-leaf-right::before,
.center .wt-small-separator div.sep-leaf-left::before,



.project-img-effect-1,
.owl-carousel .owl-dots .owl-dot.active span,

.owl-prev:hover,
.owl-prev:active,
.owl-prev:focus,
.owl-next:hover,
.owl-next:active,
.owl-next:focus,
.header-style-2 .top-bar .wt-topbar-info li:first-child::before,
.header-style-2 .header-nav-request a,


.site-bg-primary,


.search-bx button,
.site-list-style-one li::after,

.date-style-2 .wt-post-meta ul li.post-category span,




.testimonial-1-content-outer::after,





.header-style-4 .header-nav-request a,
.slider-block-red::before,
.site-button-link::before,
.card1::before,
.corner-line:after,
.corner-line:before,
.about-drone-three::before ,
.about-drone-three-info,
.gallery-large-control ul li a,
.dot-circle ,
.blog-style-3:hover,
.about-drone-two::before ,
.hover-line-effect-one::after, .hover-line-effect-one::before,
.quality-video2 .play-now-video,
.product-show-info2 .p-control2 ul li a:hover  ,
.bg-right-half-block,
.product-show-info .p-control ul li a:hover,
.masonry-filter > li.active a, .masonry-filter > li a:hover, .masonry-filter > li a:active, .masonry-filter > li a:focus ,
.galleryhvr-mid a,
.galleryhvr-zoom-out-down,
.widget_tag_cloud a:hover,
.ui-widget-header ,
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus,
.site-button:active, .site-button:focus, .site-button:visited, .active > .site-button,
.dark-dotts-line.owl-carousel .owl-dots .owl-dot.active span    {
	background-color: #dc0fc1;
}

.site-button {
	background-color: #dc0fc1
}

/*-----border color-----*/
.about-drone-one,
.product-showcase:after,
.product-showcase:before,
.counter-box:after,
.counter-box:before,
.date-style-2:hover ,
.how-it-drone2-outer .how-it-drone2:after,
.how-it-drone2-outer .how-it-drone2:before,
.gallery-large-block-outer::before,
.slider-block-sky::after,
.slider-block-video:after,
.slider-block-video:before ,
.services-large-block-outer::before,
.blog-post blockquote,
.header-style-4 #search-toggle-block,
.header-style-4.dark-menu #search-toggle-block{
    border-color: #dc0fc1;
}


/*-----Secondry background colo-----*/

.site-button-secondry,
.acc-bg-gray .acod-head .indicator,
.project-img-effect-1 a.mfp-link,

.owl-prev,
.owl-next,

.site-bg-secondry,

.overlay-icon a,

.footer-dark.footer-style2 .footer-top{
	background-color: #190016;
}


/* Buttons hover bg color*/

.site-button:hover,
.site-button:focus,
.site-button:active,
.nl-search-btn:hover {
	background-color: #510547;
}


/*===================== 
	Primary text color 
=====================*/


/* Premery text color*/

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,

.header-nav .nav>li .sub-menu li a:hover,
.header-nav .nav>li .sub-menu li:hover>a,
.header-nav .nav>li .mega-menu>li ul a:hover,

.header-nav .nav>li.current-menu-item>a,
.header-nav .nav li.has-child.nav-active>a,
ol.comment-list li.comment .reply a,

.nav-dark.header-nav .nav>li .sub-menu li a:hover,
.site-button-link::after,
.our-team-two ul li a:hover,
.site-text-primary,
.footer-dark .footer-bottom .copyrights-nav li a,
.footer-dark .footer-bottom .copyrights-nav li::after,
.footer-dark .footer-top h1,
.footer-dark .footer-top h2,

.footer-dark .footer-top h4,
.footer-dark .footer-top h5,
.footer-dark .footer-top h6,
.footer-dark .footer-top h1 a,
.footer-dark .footer-top h2 a,
.footer-dark .footer-top h3 a,
.footer-dark .footer-top h4 a,
.footer-dark .footer-top h5 a,
.footer-dark .footer-top h6 a,
.footer-dark .widget_address li i,
.site-footer .widget_services ul li a:hover,
.wt-team-1 .team-social-center ul li a:hover,
.footer-dark .footer-top a:active,
.footer-dark .footer-top a:focus,
.footer-dark .footer-top a:hover,

blockquote .fa-quote-left,
.testimonial-2 .testimonial-text .fa-quote-left,
.wt-team-1-single-info li span:first-child,
.error-full-page-inner-info strong,

.wt-product-box .price ins,
.widget .wt-post-meta li,
.widget_archives ul li a:hover,
.widget_services ul li a:hover,


ol.comment-list li.comment .comment-meta a,
.blog-post blockquote .fa-quote-left,

.date-style-2 .wt-post-meta ul li.post-date,
.date-style-2 .wt-post-meta ul li.post-comment,
.date-style-2 .wt-post-readmore a,

.testimonial-1 .testimonial-text .fa-quote-left,
.footer-dark.footer-style2 .footer-bottom .copyrights-nav li a:hover,

.wt-team-1 .team-name a:hover,
.header-nav.nav-animation .nav>li>ul.sub-menu li>a:before,
.play-now .icon,
.product-show-info .p-price,
.blog-style-3 .wt-post-meta ul li.post-date, .blog-style-3 .wt-post-meta ul li.post-comment,
.blog-style-large .wt-post-meta ul li.post-date, .blog-style-large .wt-post-meta ul li.post-comment,
.blog-style-3 .wt-post-readmore a,
.wt-post-title .post-title a:hover,
.pricingtable-sign,
.play-now-video .icon,
.product-show-info2 .p-price2,
.blog-style-1 .wt-post-meta ul li.post-date, .blog-style-1 .wt-post-meta ul li.post-category, .blog-style-1 .wt-post-meta ul li.post-comment,
.blog-style-1 .wt-post-readmore a,
.wt-team-2 .team-name a:hover,
.service-detail-single-list ul.list-check li::before,
.gallery-detail-single-list ul.list-check li::before,
.product-widget-info .price ins,
.p-single-new-price,
.wt-tabs.bg-tabs .nav-tabs > li > a.active,
ol.commentlist li .meta span,
.shopping-cart-total .sub_total .top li:last-child,
.shopping-cart-total .total ul li:last-child,
.your-order-list ul li b{
	color: #dc0fc1;
}

.header-style-1 .header-nav .nav li:hover.has-child.nav-active>a {
	color: #fff;
}

.header-style-1 .header-nav .nav li:hover.has-child .submenu-toogle {
	color: #fff;
}


/*-----border color-----*/


/*===================== 
	play btn
 =====================*/

.play-now .ripple,
.play-now .ripple:before,
.play-now .ripple:after {
	-webkit-box-shadow: 0 0 0 0 rgb(220, 15, 193);
	-moz-box-shadow: 0 0 0 0 rgb(220, 15, 193);
	-ms-box-shadow: 0 0 0 0 rgb(220, 15, 193);
	-o-box-shadow: 0 0 0 0 rgb(220, 15, 193);
	box-shadow: 0 0 0 0 rgb(220, 15, 193);
}

.whatWedo-media-inner {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#dc0fc1+0,190016+100 */
	background: rgb(220, 15, 193);
	/* Old browsers */
	background: -moz-linear-gradient(left, rgba(220, 15, 193, 1) 0%, rgba(25, 0, 22, 1) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(220, 15, 193, 1) 0%, rgba(25, 0, 22, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(220, 15, 193, 1) 0%, rgba(25, 0, 22, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc0fc1', endColorstr='#190016', GradientType=1);
	/* IE6-9 */
}


.footer-dark.footer-style2 .footer-bottom {
	background-color: #0d000c;
	border-top: 1px solid #0d000c;
}


/*REVOLUTION SLIDER ARROW BUTTON*/

#welcome_wrapper .metis.tparrows {
	background-color: #dc0fc1;
}

.about-drone-three-info::after {
    border-bottom: 30px solid #4e0144;
}

.hermes .tp-bullet.selected::after ,
.hermes .tp-bullet:hover {
    background-color: #dc0fc1 !important;
}
